@mixin breakpoint1 {
  @media screen and (min-width: 736px) {
    @content;
  }
}

body {
  background-color: black;
  font-family: "roboto", sans-serif;
  @include breakpoint1 {
  }
  & .App {
    overflow-x: hidden;
    height: 100vh;
    @include breakpoint1 {
    }
    & nav#menu {
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      height: 100vh;
      background-color: black;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      overflow-y: hidden;
      -webkit-box-shadow: 32px 30px 79px -50px rgba(255,255,255,0.5);
      -moz-box-shadow: 32px 30px 79px -50px rgba(255,255,255,0.5);
      box-shadow: 32px 30px 79px -50px rgba(255,255,255,0.5);
      min-width: 150px;
      -ms-transform: translateX(0);
      transform: translateX(0);
      transition: transform 0.2s ease-in;
      @include breakpoint1 {
        opacity: 0.6;
      }
      & ul {
        width: 100%;
        height: 40vh;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        list-style-type: none;
        padding-left: 35px;
        @include breakpoint1 {
        }
        & li {
          color: white;
          & input {
            display: none;
          }
          cursor: pointer;
          border-right: 3px solid transparent;
          box-sizing: border-box;
          padding: 10px;
          padding-left: 0px;
          &:hover {
            font-weight: bolder;
            border-right: 3px solid white;
          }
        }
      }
      &.slideOut {
        transform: translateX(-150px);
        -ms-transform: translateX(-150px);
      }
    }
    & header {
      position: fixed;
      z-index: 3;
      width: calc(100vw - 40px);
      padding: 20px;
      display: flex;
      flex-direction: column;
      @include breakpoint1 {
      }
      #hamburger-menu {
        position: relative;
        z-index: 2;
        & input.hamburger {
          display: none;
          &+ label {
            cursor: pointer;
            position: relative;
            z-index: 2;
            width: 34px;
            display: flex;
            & div {
              height: 24px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              & .hamburger.layers {
                border-radius: 5px;
                opacity: 100%;
                position: relative;
                top: 0px;
                width: 34px;
                height: 3px;
                background-color: white;
                transition: transform 0.4s 0.1s ease-in, top 0.1s 0.4s ease-in, opacity 0.4s 0.4s ease-out, background-color 0.4s ease-in;
              }
            }
            &:hover {
              & div.hamburger.layers {
                background-color: black;
              }
            }
          }
          &:checked {
            &+ label {
              height: 24px;
              & div {
                height: 26px;
                & .hamburger.layers:nth-child(2) {
                  opacity: 0;
                }
                & .hamburger.layers {
                  background-color: white!important;
                  position: relative;
                  transition: transform 0.4s ease-out, top 0.1s ease-out, opacity 0.4s ease-in;
                }
                & .hamburger.layers:nth-child(1) {
                  top: 11.5px;
                  transform: rotate(45deg);
                }
                & .hamburger.layers:nth-child(3) {
                  top: -11px;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }
    & #container {
      color: white;
      width: 100%;
      height: 200vh;
      & #background {
        position: fixed;
        z-index: -1;
        width: 100vw;
        height: 40vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: background-image 1s ease-in;
        &.flowers {
          background-image: url("backgrounds/flowers.jpg");
        }
        &.leaves {
          background-image: url("backgrounds/leaves.jpg")
        }
        &.mountain {
          background-image: url("backgrounds/mountain.jpg")
        }
        &.pond {
          background-image: url("backgrounds/pond.jpg")
        }
        &.headlight {
          background-image: url("backgrounds/headlight.jpg")
        }
        &.poppy {
          background-image: url("backgrounds/poppy.jpg")
        }
        @include breakpoint1 {
          height: 100vh;
        }
      }
      & #article-wrapper {
        position: relative;
        z-index: 1;
        background-color: black;
        transform: translateY(calc(40vh - 1px));
        padding: 50px;
        height: 100%;
        & #bio {
          left: 0px;
          top: -25vh;
          width: 100%;
          position: absolute;
          display: flex;
          justify-content: space-around;
          @include breakpoint1 {
            transform: translateY(-35vh);
          }
          & button {
            background-color: transparent;
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & div {
              transition: background-color 0.4s ease-in;
              border-radius: 3px;
              height: 3px;
              width: 25px;
              background-color: white;
              position: relative;
              left: 3px;
              &:nth-child(odd) {
                top: 30%;
                transform: rotate(45deg);
              }
              &:nth-child(even) {
                top: -30%;
                transform: rotate(-45deg);
              }
            }
            &:nth-child(1) {
              transform: scaleX(-1);
            }
            &:hover {
              cursor: pointer;
              & div {
                background-color: black;
              }
            }
          }
          & div#info {
            & .title {
              cursor: pointer;
              margin-top: 0px;
              width: 100%;
              text-align: center;
              font-size: 3em;
            }
            & progress#timer {
              height: 5px;
              border-radius: 10px;
              background-color: transparent;
              width: 100%;
              border: none;
            }
            & progress#timer::-moz-progress-bar {
               background-color: white!important;
               border-radius: 10px;
            }
            & progress#timer::-webkit-progress {
              &-bar {
                background-color: transparent;
                border-radius: 10px;
              }
              &-value {
                border-radius: 10px;
                background-color: white;
              }
            }
            & #socials {
              display: flex;
              justify-content: center;
              & div {
                cursor: pointer;
                margin: 10px;
                height: 20px;
                width: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: background-image 0.4s ease-in;
                &.instagram {
                  background-image: url("instagram.png");
                  &:hover {
                    background-image: url("instagram-hover.png");
                  }
                }
                &.facebook {
                  background-image: url("facebook.png");
                  &:hover {
                    background-image: url("facebook-hover.png");
                  }
                }
                &.twitter {
                  background-image: url("twitter.png");
                  &:hover {
                    background-image: url("twitter-hover.png");
                  }
                }
                &.patreon {
                  background-image: url("patreon.png");
                  &:hover {
                    background-image: url("patreon-hover.png");
                  }
                }
              }
            }
          }
        }
        @include breakpoint1 {
          transform: translateY(calc(100vh - 1px));
        }
        & article {
          &#contact {
            & form {
              & .form-field {
                padding: 20px;
                display: flex;
                justify-content: space-between;
                width: 300px;
                &.checkbox {
                  justify-content: flex-start;
                }
                &.textarea {
                  padding-top: 0px;
                  padding-bottom: 0px;
                  overflow: hidden;
                  height: 0px;
                  transition: all 0.4s ease-in;
                  &.open {
                    padding: 20px;
                    height: auto;
                  }
                  & textarea {
                    height: 0px;
                    width: 100%;
                    transition: all 0.4s ease-in;
                    &.open {
                      height: 75px;
                      resize: vertical;
                      overflow-y: auto scroll;
                    }
                  }
                }
                &.submit {
                  justify-content: flex-end;
                }
              }
            }
          }
          @include breakpoint1 {
            max-width: 1136px;
            margin-left: auto;
            margin-right: auto;
          }
        }

      }
    }
  }
}
