.App {
  max-width: 1136px;
  margin-left:auto;
  margin-right: auto;
  overflow-x: hidden;
  & header {
    height: 75px;
    padding-top: 20px;
    overflow-x: hidden;
    display: flex;
    #logo {
      font-size: 1.2em;
    }
    #hamburger-menu {
      display: flex;
      align-items: center;
      width: 150px;
      & input.hamburger {
        display: none;
        &+ label {
          justify-self: end;
          position: relative;
          z-index: 5;
          cursor: pointer;
          width: 34px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & div {
            height: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            & .hamburger.layers {
              opacity: 100%;
              position: relative;
              top: 0px;
              width: 34px;
              height: 3px;
              background-color: black;
              transition: transform 0.4s 0.1s ease-in, top 0.1s 0.4s ease-in, opacity 0.4s 0.4s ease-out;
            }
          }
        }
        &:checked {
          &+ label {
            height: 24px;
            & div {
              height: 26px;
              & .hamburger.layers:nth-child(2) {
                opacity: 0;
              }
              & .hamburger.layers {
                position: relative;
                transition: transform 0.4s ease-out, top 0.1s ease-out, opacity 0.4s ease-in;
              }
              & .hamburger.layers:nth-child(1) {
                top: 9px;
                transform: rotate(45deg);
              }
              & .hamburger.layers:nth-child(3) {
                top: -12px;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
  & #container {
    background-image: url("background/background.jpg");
    display: flex;
    & nav#menu {
      left: 300px;
      overflow-y: hidden;
      -webkit-box-shadow: 32px 30px 79px -50px rgba(0,0,0,0.5);
      -moz-box-shadow: 32px 30px 79px -50px rgba(0,0,0,0.5);
      box-shadow: 32px 30px 79px -50px rgba(0,0,0,0.5);
      min-width: 150px;
      height: 100vh;
      transform: translateX(0);
      transition: transform 0.2s ease-in;
      & ul {
        min-height: 40vh;
        padding-top: 25vh;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        list-style-type: none;
        padding-left: 35px;
        & li {
          & input {
            display: none;
          }
          cursor: pointer;
          border-right: 3px solid transparent;
          box-sizing: border-box;
          padding: 10px;
          padding-left: 0px;
          &:hover {
            font-weight: bolder;
            border-right: 3px solid black;
          }
        }
      }
      &.slideOut {
        transform: translateX(-100%)
      }
    }
    & article {
      padding: 50px;
      width: 100%;
    }
  }
}
