@mixin breakpoint2 {
  @media screen and (min-width: 380px) {
    @content;
  }
}
@mixin breakpoint3 {
  @media screen and (min-width: 736px) {
    @content;
  }
}

#education {
  @include breakpoint3 {
  }
  & > div {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    @include breakpoint3 {
      padding-top: 18px;
      max-width: none;
    }
  }
}
